<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.duckier.vpn.daemon</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/duckiervpn-daemon</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>StandardOutPath</key>
    <string>/var/log/duckier/daemon.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/duckier/daemon.error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>DUCKIER_RESOURCE_DIR</key>
        <string>/usr/local/share/duckiervpn/</string>
    </dict>
</dict>
</plist>
